{{> header}}
{{> navbar }}

<div>
    <div class="row">
        <div class="col-8">
            <h1>Primer bloque del about</h1>
            <p>Esto es un texto bonito</p>
        </div>

        <div class="col-4">
            <img src="assets/img/fotoPerfilLinkedin.png" alt="Imagen" css="img-thumbnail">
        </div>


    </div>
</div>

{{> footer}}